<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Update Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="onUpdate(form)">
    <ion-list>
  
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="product.name" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="text" name="price" [(ngModel)]="product.price" required></ion-input>
      </ion-item>
  
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="full" type="submit" [disabled]="form.invalid">
          Update
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="full" (click)="close()">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>