<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-title>Warehouses</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of warehousesList | async">
      <ion-label text-wrap>
        <h1>{{ item.id }}</h1>
        <h3>{{ item.name | titlecase }}</h3>
        <p>{{ item.address | titlecase }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>