<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Find Lots</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Parameter</ion-label>
      <ion-input type="number" name="parameter" [(ngModel)]="parameter" required></ion-input>
    </ion-item>

  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" (click)="findLot(parameter)"  
                  [disabled]="parameter === '' || parameter === null">
        Find
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="secondary" expand="full" (click)="getLotsByStock(parameter)"
                  [disabled]="parameter === '' || parameter === null">
        Find By Stock
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list>
    
    <ion-item>
      <ion-label>Select Product</ion-label>
      <ion-select [(ngModel)]="codeProduct" required>
        <ion-select-option *ngFor="let item of productsList | async" [value]="item.code">
          {{ item.name | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-button color="warning" expand="full" (click)="getLotsByProduct()" 
              [disabled]="codeProduct === null">
    Find By Product
  </ion-button>

  <ion-button color="warning" expand="full" (click)="close()">
    Cancel
  </ion-button>

  <ion-card *ngIf="lot.id !== null">

    <ion-card-header>
      <ion-card-subtitle>{{ lot.id }} -- {{ lot.warehouse.name }}</ion-card-subtitle>
      <ion-card-title>{{ lot.product.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The quantity contained in the batch is: {{ lot.stock | number }}
    </ion-card-content>

  </ion-card>

  <app-list-items [lotItems]="lots"></app-list-items>

</ion-content>