<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Desarrollo Ionic</ion-card-subtitle>
      <ion-card-title>About of App</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Application developed by Norberto Guerrero Moya
      and Carlos Andres Vargas Bermudez.
    </ion-card-content>

  </ion-card>
  
</ion-content>
