<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-title>Lots</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button color="dark" (click)="openModalFind()">
        <ion-icon name="search"></ion-icon>
      </ion-button>

      <ion-button color="primary" (click)="openModalSave()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of lotsList | async" (click)="presentActionSheet(item.id, item)" detail>
      <ion-label text-wrap>
        <h1>{{ item.id }}</h1>
        <h3>{{ item.warehouse.name | titlecase }}</h3>
        <h3>{{ item.product.name | titlecase }}</h3>
        <p> Quantity of product stored is: {{ item.stock | number }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>