<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Update Lot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="onUpdate(form)">
    <ion-list>

      <ion-item>
        <ion-label>Select Warehouse</ion-label>
        <ion-select name="warehouse" [(ngModel)]="lot.warehouse" [selectedText]="lot.warehouse.name" required>
          <ion-select-option *ngFor="let item of warehousesList | async" [value]="item">
            {{ item.name | titlecase }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Select Product</ion-label>
        <ion-select name="product" [(ngModel)]="lot.product" [selectedText]="lot.product.name" required>
          <ion-select-option *ngFor="let item of productsList | async" [value]="item">
            {{ item.name | titlecase }}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="text" name="stock" [(ngModel)]="lot.stock" required></ion-input>
      </ion-item>
  
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="full" type="submit" [disabled]="form.invalid">
          Update
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="full" (click)="close()">
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>