<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-title>Products</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button color="dark" (click)="openModalFind()">
        <ion-icon name="search"></ion-icon>
      </ion-button>

      <ion-button color="primary" (click)="openModal()" >
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of listProducts | async" (click)="presentActionSheet(item.code, item)" detail>
      <ion-label text-wrap>
        <h1>{{ item.code }}</h1>
        <h3>{{ item.name | titlecase }}</h3>
        <p>{{ item.price | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>