<ion-list *ngIf="productItems">
  <ion-item *ngFor="let item of productItems">
    <ion-label text-wrap>
      <h1>{{ item.code }}</h1>
      <h3>{{ item.name | titlecase }}</h3>
      <p>{{ item.price | currency }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="lotItems">
  <ion-item *ngFor="let item of lotItems">
    <ion-label text-wrap>
      <h1>{{ item.id }}</h1>
      <h3>{{ item.warehouse.name | titlecase }}</h3>
      <h3>{{ item.product.name | titlecase }}</h3>
      <p>{{ item.stock | number }}</p>
    </ion-label>
  </ion-item>
</ion-list>