<ion-header>
  <ion-toolbar>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item routerLink="/product" detail>
      <ion-icon slot="start" name="cloud"></ion-icon>
      <ion-label>Product</ion-label>
    </ion-item>

    <ion-item routerLink="/lot" detail>
      <ion-icon slot="start" name="basket"></ion-icon>
      <ion-label>Lot</ion-label>
    </ion-item>

    <ion-item routerLink="/warehouse" detail>
      <ion-icon slot="start" name="hardware-chip-outline"></ion-icon>
      <ion-label>Warehouse</ion-label>
    </ion-item>

    <ion-item routerLink="/contact" detail>
      <ion-icon slot="start" name="albums-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-item>

  </ion-list>

</ion-content>