<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Find Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Parameter</ion-label>
      <ion-input type="text" name="parameter" [(ngModel)]="parameter" required></ion-input>
    </ion-item>

  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" (click)="findProduct(parameter)"  
                  [disabled]="parameter === '' || parameter === null">
        Find
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="secondary" expand="full" (click)="getProductsByName(parameter)" 
                  [disabled]="parameter === '' || parameter === null">
        Find By Name
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="tertiary" expand="full" (click)="getLots(parameter)" 
                  [disabled]="parameter === '' || parameter === null">
        Lots
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-button color="warning" expand="full" (click)="close()">
    Cancel
  </ion-button>

  <ion-card *ngIf="product.code !== null">

    <ion-card-header>
      <ion-card-subtitle>{{ product.code }}</ion-card-subtitle>
      <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The price of the product is: {{ product.price | currency }}
    </ion-card-content>

  </ion-card>

  <app-list-items [productItems]="products" [lotItems]="lots"></app-list-items>

</ion-content>